<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!-- <div *ngIf="error" class="alert alert-danger">
            <p>{{error}}</p>
        </div> -->
        <app-alert *ngIf="error" [message]="error" (close) = "handleClose()"></app-alert>
        <div *ngIf="isLoading" style="text-align:center">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form *ngIf="!isLoading" [formGroup] ="authForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input [type]="hidePassword ? 'password': 'text' " id="password" class="form-control" formControlName="password">  
            </div>
            <div>
                <button [disabled]="!authForm.valid" type="submit" class="btn btn-primary">{{ isLoginMode? 'Login': 'Sign Up' }}</button>|
                <button type="button" class="btn btn-primary" (click)="onSwitch()">
                    Switch to {{ isLoginMode?'Sign Up': 'Login'}}
                </button>
            </div>
        </form>
    </div>
</div>