<div class="row">
    <div class="col-xs-12">
        <img style="max-height: 300px;" [src]="singleRecipe?.imagePath" alt="{{singleRecipe?.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{singleRecipe?.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{singleRecipe?.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
          <select (change) = "onChange($event.target.value)" class="btn-primary" style="padding: 8px 12px; border-radius: 4px;">
            <option value="null">Manage Recipe</option>
              <option > <a>To Shopping List</a> </option>
              <option > <a>Edit Recipe</a> </option>
              <option > <a >Delete Recipe</a> </option>
          </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of singleRecipe?.ingredient">
                {{ingredient?.name }} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>